* {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

router-outlet + *  {
  padding: 0 16px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: small;
  background: #EFEFEF;
}

.loading {
  display:block;
  margin: 20% auto;
}

a {
	text-decoration: none !important;
}

.container {
	width:95%;
	margin:auto;
	overflow:hidden;
}

mat-card-header * {
  text-align: center;
  width: 100%;
}

.dataTables_wrapper th {
  font-size: smaller !important;
}

.dataTables_wrapper td {
  padding: 0px 10px !important;
}

mat-card-content {
  padding-top: 10px;
}

.folder {
  font-weight: bold;
  line-height: 150% !important;
  text-align: left !important;
  padding: 5px !important;
}

.child {
  font-weight: 200;
  line-height: 150% !important;
  text-align: left !important;
  padding: 5px !important;
}

button.child span {
  word-break: break-word;
  white-space: normal;
}

button.folder span {
  word-break: break-word;
  white-space: normal;
}

.itemcontainer {
  line-height: 10px;
}

.sub {
  font-weight: 100;
  font-size: smaller;
}

button {
  padding: 0 10px;
}

.mat-select-panel mat-option.mat-option {
  height: unset;
  word-wrap: break-word;
}

.mat-option-text.mat-option-text {
  white-space: normal;
  line-height: 140%;
  padding: 10px 0;
}

.mat-tree-node {
  min-height: 0 !important;
}

.action-bar {
  float: right;
  padding-right: 10px;

}

.dx-command-select {
  width: 30px !important;
  min-width: 30px !important;
}

.dx-header-row .dx-cell-focus-disabled {
  text-align: center !important;
  font-size: smaller;
}

.dx-datagrid-headers .dx-header-row,
.dx-treelist-headers .dx-header-row
{
  background-color: #337ab7 !important;
  color: #fff !important;
}

.dx-field-item-label-text {
  word-wrap: normal;
}

.dx-list-item .dx-item-content.dx-list-item-content {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.dx-icon-rename {
  color: #fff !important;
  background: #8fd658;
}

.dx-icon-close {
  color:  #fff !important;
  background: #ae6560;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


